In [ ]:
import numpy as np
import pandas as pd

# Load IMDB Data

A data set of 1,000 most popular movies on IMDB from 2006 - 2016. The data fields included are:

Title, Genre, Description, Director, Actors, Year, Runtime, Rating, Votes, Revenue, Metascrore

1. Download the dataset from [Kaggle](https://www.kaggle.com/datasets/PromptCloudHQ/imdb-data?resource=download) - you may need to create a free account with your google account
2. Upload the file to your collab session through clicking on the Files menu in the left toolbar (see the image for where to find that)

![img](https://drive.google.com/uc?export=view&id=1P4YcZK7g_1gl5XyLClD0StYLo9u9w2w4)

3. Read into a pandas dataframe as below

In [ ]:
df = pd.read_csv('IMDB-Movie-Data.csv')

In [ ]:
df.head(3)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0

## Excercises

1. Check how many missing values there are in each column of the data set

2. Check how many unique directors are in the list of top 1000 movies

3. Drop all rows where the Metascore (Average Critic's score) is missing

4. Replace the missing values in the `Revenue (Millions)` column with the average Revenue for other movies in the list for the same `Year`

Some extra tasks you can ponder before going to the cinema. Reach out if you have questions!

5. Find all he movies where Leonardo DiCaprio is listed as actor.

6. In which genres did he play mostly?

7. And what is the average rating of his movies? Is it higher or lower than the average rating of all movies?