# Class Content

1. Simple column operations
2. Custom row-wise transformations
3. Concatenating dataframes
4. Joining dataframes

# Let's remember the 'cars' Dataframe:
The dataframe contains the information of 10.000 cars. There are 9 different columns:
- Make (Car brand, example: Ford)
- Model (The Model of the Car, example: Focus)
- Year (The Year in which the car was build, example: 2012)
- Variant (The car model version showing the PS, example: 1.6 Trendline)
- Kms (The kilometers the cars has been driven, example: 90000)
- Price (The offered price for the car, example: 10000)
- Doors (How many doors the car has, example: 4)
- Kind (Type of car, example: Pick-Up)
- Location (Where the car is located, example: Buenos Aires)

In [1]:
import pandas as pd
import numpy as np

# this is a hack to allow displaying more than one result per notebook cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
cars = pd.read_csv("https://raw.githubusercontent.com/juliandnl/redi_ss20/master/cars.csv")

In [3]:
cars.head(3)

,Make,Model,Year,Variant,Kms,Price,Doors,Kind,Location
0,Volkswagen,Vento,2012,2.5 Luxury 170cv,99950,360000,4.0,Sedán,Córdoba
1,Ford,Ranger,2012,2.3 Cd Xl Plus 4x2,140000,320000,2.0,Pick-Up,Entre Ríos
2,Volkswagen,Fox,2011,1.6 Trendline,132000,209980,5.0,Hatchback,Bs.as. G.b.a. Sur

# Simple column operations

### Create an empty new variable

In [4]:
cars.loc[:, 'test'] = None

In [5]:
cars.head()

,Make,Model,Year,Variant,Kms,Price,Doors,Kind,Location,test
0,Volkswagen,Vento,2012,2.5 Luxury 170cv,99950,360000,4.0,Sedán,Córdoba,None
1,Ford,Ranger,2012,2.3 Cd Xl Plus 4x2,140000,320000,2.0,Pick-Up,Entre Ríos,None
2,Volkswagen,Fox,2011,1.6 Trendline,132000,209980,5.0,Hatchback,Bs.as. G.b.a. Sur,None
3,Ford,Ranger,2017,3.2 Cd Xls Tdci 200cv Automática,13000,798000,4.0,Pick-Up,Neuquén,None
4,Volkswagen,Gol,2013,1.4 Power 83cv 3 p,107000,146000,3.0,Hatchback,Córdoba,None

### Create a new variable with some value

In [ ]:
cars.loc[1:2, 'new_data'] = 1

In [ ]:
cars.head()

,Make,Model,Year,Variant,Kms,Price,Doors,Kind,Location,test,new_data
0,Volkswagen,Vento,2012,2.5 Luxury 170cv,99950,360000,4.0,Sedán,Córdoba,None,NaN
1,Ford,Ranger,2012,2.3 Cd Xl Plus 4x2,140000,320000,2.0,Pick-Up,Entre Ríos,None,1.0
2,Volkswagen,Fox,2011,1.6 Trendline,132000,209980,5.0,Hatchback,Bs.as. G.b.a. Sur,None,1.0
3,Ford,Ranger,2017,3.2 Cd Xls Tdci 200cv Automática,13000,798000,4.0,Pick-Up,Neuquén,None,NaN
4,Volkswagen,Gol,2013,1.4 Power 83cv 3 p,107000,146000,3.0,Hatchback,Córdoba,None,NaN

In [ ]:
cars['new_data'] = 1
cars.head()

,Make,Model,Year,Variant,Kms,Price,Doors,Kind,Location,test,new_data
0,Volkswagen,Vento,2012,2.5 Luxury 170cv,99950,360000,4.0,Sedán,Córdoba,None,1
1,Ford,Ranger,2012,2.3 Cd Xl Plus 4x2,140000,320000,2.0,Pick-Up,Entre Ríos,None,1
2,Volkswagen,Fox,2011,1.6 Trendline,132000,209980,5.0,Hatchback,Bs.as. G.b.a. Sur,None,1
3,Ford,Ranger,2017,3.2 Cd Xls Tdci 200cv Automática,13000,798000,4.0,Pick-Up,Neuquén,None,1
4,Volkswagen,Gol,2013,1.4 Power 83cv 3 p,107000,146000,3.0,Hatchback,Córdoba,None,1

### Overwrite pre-existing data

In [ ]:
cars['new_data'] = 2
cars.head()

,Make,Model,Year,Variant,Kms,Price,Doors,Kind,Location,test,new_data
0,Volkswagen,Vento,2012,2.5 Luxury 170cv,99950,360000,4.0,Sedán,Córdoba,None,2
1,Ford,Ranger,2012,2.3 Cd Xl Plus 4x2,140000,320000,2.0,Pick-Up,Entre Ríos,None,2
2,Volkswagen,Fox,2011,1.6 Trendline,132000,209980,5.0,Hatchback,Bs.as. G.b.a. Sur,None,2
3,Ford,Ranger,2017,3.2 Cd Xls Tdci 200cv Automática,13000,798000,4.0,Pick-Up,Neuquén,None,2
4,Volkswagen,Gol,2013,1.4 Power 83cv 3 p,107000,146000,3.0,Hatchback,Córdoba,None,2

### New column based on exisitng column

In [6]:
import datetime
# get current year
year = datetime.date.today().year
year
# calculate YTD = years-to-date (age of the car)
cars.loc[:, 'YTD'] = year - cars.loc[:, 'Year']

2023

In [7]:
cars.head()

,Make,Model,Year,Variant,Kms,Price,Doors,Kind,Location,test,YTD
0,Volkswagen,Vento,2012,2.5 Luxury 170cv,99950,360000,4.0,Sedán,Córdoba,None,11
1,Ford,Ranger,2012,2.3 Cd Xl Plus 4x2,140000,320000,2.0,Pick-Up,Entre Ríos,None,11
2,Volkswagen,Fox,2011,1.6 Trendline,132000,209980,5.0,Hatchback,Bs.as. G.b.a. Sur,None,12
3,Ford,Ranger,2017,3.2 Cd Xls Tdci 200cv Automática,13000,798000,4.0,Pick-Up,Neuquén,None,6
4,Volkswagen,Gol,2013,1.4 Power 83cv 3 p,107000,146000,3.0,Hatchback,Córdoba,None,10

In [8]:
# Small exercise: combine the 'Make' (i.e. brand of a car) and 'Model' into a single column
# For example, if the brand is 'Ford' and the model 'Ranger', the new columns should
# be the string 'Ford Ranger'

In [9]:
cars['Model_new'] = cars['Make'] + ' ' + cars['Model']
cars.head()

,Make,Model,Year,Variant,Kms,Price,Doors,Kind,Location,test,YTD,Model_new
0,Volkswagen,Vento,2012,2.5 Luxury 170cv,99950,360000,4.0,Sedán,Córdoba,None,11,Volkswagen Vento
1,Ford,Ranger,2012,2.3 Cd Xl Plus 4x2,140000,320000,2.0,Pick-Up,Entre Ríos,None,11,Ford Ranger
2,Volkswagen,Fox,2011,1.6 Trendline,132000,209980,5.0,Hatchback,Bs.as. G.b.a. Sur,None,12,Volkswagen Fox
3,Ford,Ranger,2017,3.2 Cd Xls Tdci 200cv Automática,13000,798000,4.0,Pick-Up,Neuquén,None,6,Ford Ranger
4,Volkswagen,Gol,2013,1.4 Power 83cv 3 p,107000,146000,3.0,Hatchback,Córdoba,None,10,Volkswagen Gol

In [18]:
# Convert prices to euros
Price_Euro = cars['Price'] * 0.0027
# price_column_position = cars.columns.get_loc('Price')
# position = price_column_position + 1 (then last line would be cars.insert(position, 'Price_Euro', Price_Euro))
cars.insert(6, 'price_euros', Price_Euro)

In [20]:
cars = cars.drop(columns=['Price_Euro'])

In [19]:
cars.head()

,Make,Model,Year,Variant,Kms,Miles,price_euros,Price,Price_Euro,Doors,Kind,Location,YTD,Model_new
0,Volkswagen,Vento,2012,2.5 Luxury 170cv,99950,62108.93,972.000,360000,972.000,4.0,Sedán,Córdoba,11,Volkswagen Vento
1,Ford,Ranger,2012,2.3 Cd Xl Plus 4x2,140000,86996.00,864.000,320000,864.000,2.0,Pick-Up,Entre Ríos,11,Ford Ranger
2,Volkswagen,Fox,2011,1.6 Trendline,132000,82024.80,566.946,209980,566.946,5.0,Hatchback,Bs.as. G.b.a. Sur,12,Volkswagen Fox
3,Ford,Ranger,2017,3.2 Cd Xls Tdci 200cv Automática,13000,8078.20,2154.600,798000,2154.600,4.0,Pick-Up,Neuquén,6,Ford Ranger
4,Volkswagen,Gol,2013,1.4 Power 83cv 3 p,107000,66489.80,394.200,146000,394.200,3.0,Hatchback,Córdoba,10,Volkswagen Gol

In [13]:
# Small exercise: How can we convert kilometers ('Kms') to miles to show them to our British users?
Miles = cars['Kms'] * 0.6214
cars.insert(5, 'Miles', Miles)

In [21]:
cars.head()

,Make,Model,Year,Variant,Kms,Miles,price_euros,Price,Doors,Kind,Location,YTD,Model_new
0,Volkswagen,Vento,2012,2.5 Luxury 170cv,99950,62108.93,972.000,360000,4.0,Sedán,Córdoba,11,Volkswagen Vento
1,Ford,Ranger,2012,2.3 Cd Xl Plus 4x2,140000,86996.00,864.000,320000,2.0,Pick-Up,Entre Ríos,11,Ford Ranger
2,Volkswagen,Fox,2011,1.6 Trendline,132000,82024.80,566.946,209980,5.0,Hatchback,Bs.as. G.b.a. Sur,12,Volkswagen Fox
3,Ford,Ranger,2017,3.2 Cd Xls Tdci 200cv Automática,13000,8078.20,2154.600,798000,4.0,Pick-Up,Neuquén,6,Ford Ranger
4,Volkswagen,Gol,2013,1.4 Power 83cv 3 p,107000,66489.80,394.200,146000,3.0,Hatchback,Córdoba,10,Volkswagen Gol

### Dropping one or more columns

In [ ]:
cars.head()

,Make,Model,Year,Variant,Kms,Miles,Price,Price_Euro,Doors,Kind,Location,test,new_data,Model_new
0,Volkswagen,Vento,2012,2.5 Luxury 170cv,99950,62108.93,360000,972.000,4.0,Sedán,Córdoba,None,2,Volkswagen Vento
1,Ford,Ranger,2012,2.3 Cd Xl Plus 4x2,140000,86996.00,320000,864.000,2.0,Pick-Up,Entre Ríos,None,2,Ford Ranger
2,Volkswagen,Fox,2011,1.6 Trendline,132000,82024.80,209980,566.946,5.0,Hatchback,Bs.as. G.b.a. Sur,None,2,Volkswagen Fox
3,Ford,Ranger,2017,3.2 Cd Xls Tdci 200cv Automática,13000,8078.20,798000,2154.600,4.0,Pick-Up,Neuquén,None,2,Ford Ranger
4,Volkswagen,Gol,2013,1.4 Power 83cv 3 p,107000,66489.80,146000,394.200,3.0,Hatchback,Córdoba,None,2,Volkswagen Gol

In [15]:
cars = cars.drop(columns='test')

In [16]:
cars.head()

,Make,Model,Year,Variant,Kms,Miles,Price,Price_Euro,Doors,Kind,Location,YTD,Model_new
0,Volkswagen,Vento,2012,2.5 Luxury 170cv,99950,62108.93,360000,972.000,4.0,Sedán,Córdoba,11,Volkswagen Vento
1,Ford,Ranger,2012,2.3 Cd Xl Plus 4x2,140000,86996.00,320000,864.000,2.0,Pick-Up,Entre Ríos,11,Ford Ranger
2,Volkswagen,Fox,2011,1.6 Trendline,132000,82024.80,209980,566.946,5.0,Hatchback,Bs.as. G.b.a. Sur,12,Volkswagen Fox
3,Ford,Ranger,2017,3.2 Cd Xls Tdci 200cv Automática,13000,8078.20,798000,2154.600,4.0,Pick-Up,Neuquén,6,Ford Ranger
4,Volkswagen,Gol,2013,1.4 Power 83cv 3 p,107000,66489.80,146000,394.200,3.0,Hatchback,Córdoba,10,Volkswagen Gol

In [ ]:
cars.drop(columns='new_data', inplace=True) # with inplace-parameter

In [ ]:
cars.head()

,Make,Model,Year,Variant,Kms,Price,Doors,Kind,Location,YTD
0,Volkswagen,Vento,2012,2.5 Luxury 170cv,99950,360000,4.0,Sedán,Córdoba,11
1,Ford,Ranger,2012,2.3 Cd Xl Plus 4x2,140000,320000,2.0,Pick-Up,Entre Ríos,11
2,Volkswagen,Fox,2011,1.6 Trendline,132000,209980,5.0,Hatchback,Bs.as. G.b.a. Sur,12
3,Ford,Ranger,2017,3.2 Cd Xls Tdci 200cv Automática,13000,798000,4.0,Pick-Up,Neuquén,6
4,Volkswagen,Gol,2013,1.4 Power 83cv 3 p,107000,146000,3.0,Hatchback,Córdoba,10

In [ ]:
cars = cars.drop(columns=['brand_model', 'YTD'])
cars.head(2)

KeyError: ignored

### Dropping specific rows

In [ ]:
cars.head(5)

,Make,Model,Year,Variant,Kms,Price,Doors,Kind,Location,YTD
0,Volkswagen,Vento,2012,2.5 Luxury 170cv,99950,360000,4.0,Sedán,Córdoba,11
1,Ford,Ranger,2012,2.3 Cd Xl Plus 4x2,140000,320000,2.0,Pick-Up,Entre Ríos,11
2,Volkswagen,Fox,2011,1.6 Trendline,132000,209980,5.0,Hatchback,Bs.as. G.b.a. Sur,12
3,Ford,Ranger,2017,3.2 Cd Xls Tdci 200cv Automática,13000,798000,4.0,Pick-Up,Neuquén,6
4,Volkswagen,Gol,2013,1.4 Power 83cv 3 p,107000,146000,3.0,Hatchback,Córdoba,10

In [ ]:
cars.drop(labels=[1, 2]).head(4)

,Make,Model,Year,Variant,Kms,Price,Doors,Kind,Location,YTD
0,Volkswagen,Vento,2012,2.5 Luxury 170cv,99950,360000,4.0,Sedán,Córdoba,11
3,Ford,Ranger,2017,3.2 Cd Xls Tdci 200cv Automática,13000,798000,4.0,Pick-Up,Neuquén,6
4,Volkswagen,Gol,2013,1.4 Power 83cv 3 p,107000,146000,3.0,Hatchback,Córdoba,10
5,Volkswagen,Amarok,2014,2.0 Cd Tdi 180cv 4x4 Highline C34,115000,790000,4.0,Pick-Up,Buenos Aires Interior,9

In [ ]:
# Note that cars dataset is not changed in place!
cars.head()

,Make,Model,Year,Variant,Kms,Price,Doors,Kind,Location,YTD
0,Volkswagen,Vento,2012,2.5 Luxury 170cv,99950,360000,4.0,Sedán,Córdoba,11
1,Ford,Ranger,2012,2.3 Cd Xl Plus 4x2,140000,320000,2.0,Pick-Up,Entre Ríos,11
2,Volkswagen,Fox,2011,1.6 Trendline,132000,209980,5.0,Hatchback,Bs.as. G.b.a. Sur,12
3,Ford,Ranger,2017,3.2 Cd Xls Tdci 200cv Automática,13000,798000,4.0,Pick-Up,Neuquén,6
4,Volkswagen,Gol,2013,1.4 Power 83cv 3 p,107000,146000,3.0,Hatchback,Córdoba,10

### Exercise

1. Replace the brand name 'Volkswagen' with 'VW'

In [ ]:
cars['']

2. Let's assume the price of the Ford Ranger from 2018 in Santa Fe is incorrect. Fix the value from 730000 to 800000.

3. Delete all rows from the city of 'Córdoba'
    * Use simple filtering to create a new dataframe without those rows
    * Try to use the 'drop' function

# Row transformations

### Simple if/else scenarios

In [ ]:
cars.loc[:, 'is_Ford_car'] = np.where(cars.loc[:, 'Make'] == 'Ford', 1, 0)
cars.head()

### Custom transformations single column

In [ ]:
def my_custom_uppercase(kind):
  return kind.upper()

cars.loc[:, 'Kind'].apply(my_custom_uppercase)

# same but shorter kind_uppercased = cars.loc[:, 'Kind'].apply(lambda kind: kind.upper())

# cars['Kind'].str.upper() - function that exists in pandas

0           SEDÁN
1         PICK-UP
2       HATCHBACK
3         PICK-UP
4       HATCHBACK
          ...
9995    HATCHBACK
9996        SEDÁN
9997    HATCHBACK
9998    HATCHBACK
9999    HATCHBACK
Name: Kind, Length: 10000, dtype: object

In [ ]:
# 'lambda' is used to specify a so-called "anonymous function"
kind_uppercased = cars.loc[:, 'Kind'].apply(lambda kind: kind.upper())
kind_uppercased

0           SEDÁN
1         PICK-UP
2       HATCHBACK
3         PICK-UP
4       HATCHBACK
          ...
9995    HATCHBACK
9996        SEDÁN
9997    HATCHBACK
9998    HATCHBACK
9999    HATCHBACK
Name: Kind, Length: 10000, dtype: object

In [ ]:
cars.loc[:, 'kind_upper'] = kind_uppercased
cars.head()

,Make,Model,Year,Variant,Kms,Miles,Price,Price_Euro,Doors,Kind,Location,Model_new,kind_upper
0,Volkswagen,Vento,2012,2.5 Luxury 170cv,99950,62108.93,360000,972.000,4.0,Sedán,Córdoba,Volkswagen Vento,SEDÁN
1,Ford,Ranger,2012,2.3 Cd Xl Plus 4x2,140000,86996.00,320000,864.000,2.0,Pick-Up,Entre Ríos,Ford Ranger,PICK-UP
2,Volkswagen,Fox,2011,1.6 Trendline,132000,82024.80,209980,566.946,5.0,Hatchback,Bs.as. G.b.a. Sur,Volkswagen Fox,HATCHBACK
3,Ford,Ranger,2017,3.2 Cd Xls Tdci 200cv Automática,13000,8078.20,798000,2154.600,4.0,Pick-Up,Neuquén,Ford Ranger,PICK-UP
4,Volkswagen,Gol,2013,1.4 Power 83cv 3 p,107000,66489.80,146000,394.200,3.0,Hatchback,Córdoba,Volkswagen Gol,HATCHBACK

### Custom transformations on the whole row

In [29]:
avg_price = cars.loc[:, 'Price'].mean()

def classify_car_quality(car_row):
  car_quality = None

  if car_row['Year'] > 2015 and car_row['Price'] < avg_price:
    car_quality = 'good'
  else:
    car_quality = 'bad'

  return car_quality

# use custom 'def' function for complex scenarios
cars.loc[:, 'car_quality'] = cars.apply(classify_car_quality, axis=1)
cars.head()

,Make,Model,Year,Variant,Kms,Miles,price_euros,Price,Doors,Kind,Location,YTD,Model_new,car_quality
0,Volkswagen,Vento,2012,2.5 Luxury 170cv,99950,62108.93,972.000,360000,4.0,Sedán,Córdoba,11,Volkswagen Vento,bad
1,Ford,Ranger,2012,2.3 Cd Xl Plus 4x2,140000,86996.00,864.000,320000,2.0,Pick-Up,Entre Ríos,11,Ford Ranger,bad
2,Volkswagen,Fox,2011,1.6 Trendline,132000,82024.80,566.946,209980,5.0,Hatchback,Bs.as. G.b.a. Sur,12,Volkswagen Fox,bad
3,Ford,Ranger,2017,3.2 Cd Xls Tdci 200cv Automática,13000,8078.20,2154.600,798000,4.0,Pick-Up,Neuquén,6,Ford Ranger,bad
4,Volkswagen,Gol,2013,1.4 Power 83cv 3 p,107000,66489.80,394.200,146000,3.0,Hatchback,Córdoba,10,Volkswagen Gol,bad

In [30]:
# use custom lamdba function for simple scenarios
cars.loc[:, 'car_quality'] = cars.apply(lambda row: 'good' if row['Year'] > 2015 and row['Price'] < avg_price else 'bad', axis=1)
cars.head()

,Make,Model,Year,Variant,Kms,Miles,price_euros,Price,Doors,Kind,Location,YTD,Model_new,car_quality
0,Volkswagen,Vento,2012,2.5 Luxury 170cv,99950,62108.93,972.000,360000,4.0,Sedán,Córdoba,11,Volkswagen Vento,bad
1,Ford,Ranger,2012,2.3 Cd Xl Plus 4x2,140000,86996.00,864.000,320000,2.0,Pick-Up,Entre Ríos,11,Ford Ranger,bad
2,Volkswagen,Fox,2011,1.6 Trendline,132000,82024.80,566.946,209980,5.0,Hatchback,Bs.as. G.b.a. Sur,12,Volkswagen Fox,bad
3,Ford,Ranger,2017,3.2 Cd Xls Tdci 200cv Automática,13000,8078.20,2154.600,798000,4.0,Pick-Up,Neuquén,6,Ford Ranger,bad
4,Volkswagen,Gol,2013,1.4 Power 83cv 3 p,107000,66489.80,394.200,146000,3.0,Hatchback,Córdoba,10,Volkswagen Gol,bad

In [31]:
car_quality_filter = (cars.loc[:, 'Year'] > 2015) & (cars.loc[:, 'Price'] < avg_price)

# use built-in functionality whenever available
cars.loc[:, 'car_quality'] = np.where(car_quality_filter, 'good', 'bad')
cars.head()

,Make,Model,Year,Variant,Kms,Miles,price_euros,Price,Doors,Kind,Location,YTD,Model_new,car_quality
0,Volkswagen,Vento,2012,2.5 Luxury 170cv,99950,62108.93,972.000,360000,4.0,Sedán,Córdoba,11,Volkswagen Vento,bad
1,Ford,Ranger,2012,2.3 Cd Xl Plus 4x2,140000,86996.00,864.000,320000,2.0,Pick-Up,Entre Ríos,11,Ford Ranger,bad
2,Volkswagen,Fox,2011,1.6 Trendline,132000,82024.80,566.946,209980,5.0,Hatchback,Bs.as. G.b.a. Sur,12,Volkswagen Fox,bad
3,Ford,Ranger,2017,3.2 Cd Xls Tdci 200cv Automática,13000,8078.20,2154.600,798000,4.0,Pick-Up,Neuquén,6,Ford Ranger,bad
4,Volkswagen,Gol,2013,1.4 Power 83cv 3 p,107000,66489.80,394.200,146000,3.0,Hatchback,Córdoba,10,Volkswagen Gol,bad

# Concatenating dataframes


```
pd.concat()
```

In [ ]:
cars.shape

In [ ]:
cars.head()

In [ ]:
cars_concat_columns = pd.concat([cars, cars], axis=1)

In [ ]:
cars_concat_columns.shape

In [ ]:
cars_concat_columns.head()

In [ ]:
first_row = cars.loc[:0, :]
first_row

In [ ]:
concat_unequal_rows = pd.concat([first_row, cars], axis=1)
concat_unequal_rows.head()

In [ ]:
cars_concat_rows = pd.concat([first_row, cars], axis=0)

In [ ]:
cars_concat_rows.shape

In [ ]:
cars_concat_rows.head()

In [ ]:
cars_concat_rows.reset_index(drop=True).head()

# Joining dataframes
Joining two datasets is the fundamental action to add additional information to your dataset.

An example: You have information on
- sales: `purchase_date`, `item-id`, `customer-id`, `count_purchases` (how often was the item purchased)
- customer: `customer-id`, `full_name`, `address`, `payment_method`
- items: `item-id`, `descriptive_name`, `category` (toy, sports equipment, etc), `price`

Each of the information lives in a separate table. To answer questions like "On which category do the customer spend most of their money?" or "Do we sell in a specific part of the country more toys than in other parts of the country?" we need to combine the information of all three tables.

This is done by "joins", in pandas it is called "merge".

The join is done using an identifyer - a key/ID or a name - appearing in both tables. In every row where the identifyer appears in both tables, we have a "match" and the information of both datasets can be joined.

The merged information appear as additional columns in the resulting dataframe.

The command for a join in pandas looks like this

```
result = pd.merge(sales, customer, how="left", on="Customer_ID")
result = sales.merge(customer, how="left", on="Customer_ID")
```
`sales` is the *left* table, `customer` is the *right* table. `how` defines the type of join, `on` the variable on which the join will be performed, the identifier.

`result` will have all *columns* from the left table and all *columns* from the right table. The identifyer is included only once. That means for our example result will have the columns  `purchase_date`, `item-id`, `customer-id`, `count_purchases`, `full_name`, `address`, `payment_method`.


We distinguish different types of joins. They define how many *rows* we have in the result.


- **Left Join:** The resulting table contains the complete left table and all matching records from the right table. Records where no match exist appear is NaN. A **right join** is the same as a left join where left and right table are swapped.
- **Outer Join:** The resulting table contains all records of the left table and all records of the right table. Not matching records are filled with NaN.
- **Inner Join:** The resulting table contains only records where a match of left and right table exist.

The type of joins are often illustrated by Venn diagrams where the right circle symbolizes the right table and the left circle the left table.


# Inner join
![left join](https://learn.microsoft.com/en-us/power-query/media/merge-queries-inner/inner-join-operation.png)

# Left outer join
![left join](https://docs.microsoft.com/de-de/power-query/images/left-outer-join-operation.png)

# Right outer join
![right join](https://learn.microsoft.com/en-us/power-query/media/merge-queries-right-outer/right-outer-join-operation.png)

# Full outer join
![outer join](https://learn.microsoft.com/en-us/power-query/media/merge-queries-full-outer/full-outer-join-operation.png)

**To** practice joins we will need to have a second dataframe which can be joined onto 'cars'. The dataframe is computed from 'cars' and has following properties
- Average price **in euros €** of car models per brand (brand = Make). Columns: `Make, Model, avg_price`
- 3 additional "invented" rows
- All cars from 'Mercedes Benz' are removed

In [22]:
avg_model_prices = cars.groupby(['Make', 'Model'])['price_euros'].mean().reset_index()
avg_model_prices = avg_model_prices.rename(columns={'price_euros': 'avg_price'})
avg_model_prices = avg_model_prices.loc[avg_model_prices.loc[:, 'Make'] != 'Mercedes Benz', :]

invented_rows = pd.DataFrame(
    data = [('Ford', 'Lo', 158703.340), ('Ford', 'Hi', 324235.670), ('Ford', 'Cheap', 6533.700)],
    columns=['Make', 'Model', 'avg_price']
)

avg_model_prices = pd.concat([invented_rows, avg_model_prices], axis=0, ignore_index=True)

avg_model_prices.shape

(50, 3)

In [23]:
avg_model_prices.head()

       Make           Model      avg_price
0      Ford              Lo  158703.340000
1      Ford              Hi  324235.670000
2      Ford           Cheap    6533.700000
3  Chrysler      PT Cruiser     524.525625
4  Chrysler  Town & Country    1922.400000

### Left outer join

In [24]:
left_join = pd.merge(cars, avg_model_prices, on=['Make', 'Model'], how='left')

In [25]:
left_join.head()

,Make,Model,Year,Variant,Kms,Miles,price_euros,Price,Doors,Kind,Location,YTD,Model_new,avg_price
0,Volkswagen,Vento,2012,2.5 Luxury 170cv,99950,62108.93,972.000,360000,4.0,Sedán,Córdoba,11,Volkswagen Vento,1042.829090
1,Ford,Ranger,2012,2.3 Cd Xl Plus 4x2,140000,86996.00,864.000,320000,2.0,Pick-Up,Entre Ríos,11,Ford Ranger,1548.109398
2,Volkswagen,Fox,2011,1.6 Trendline,132000,82024.80,566.946,209980,5.0,Hatchback,Bs.as. G.b.a. Sur,12,Volkswagen Fox,643.159240
3,Ford,Ranger,2017,3.2 Cd Xls Tdci 200cv Automática,13000,8078.20,2154.600,798000,4.0,Pick-Up,Neuquén,6,Ford Ranger,1548.109398
4,Volkswagen,Gol,2013,1.4 Power 83cv 3 p,107000,66489.80,394.200,146000,3.0,Hatchback,Córdoba,10,Volkswagen Gol,405.814436

In [26]:
# A left join includes the complete left table. The result of a left join has therefore
# the same number of rows as the left table IF the join columns are unique in the right table.
cars.shape
print()
left_join.shape

(10000, 13)

(10000, 14)

In [27]:
# avg_model_prices does not include entries for 'Mercedes Benz'
# Those rows are then filled with NaN in a left join
left_join.loc[left_join.loc[:, 'Make'] == 'Mercedes Benz', :].head()

,Make,Model,Year,Variant,Kms,Miles,price_euros,Price,Doors,Kind,Location,YTD,Model_new,avg_price
24,Mercedes Benz,Sprinter,2015,2.1 415 3665 Te Mixto 4+1 Silver,45000,27963.0000,2699.9973,999999,2.0,Furgón,Capital Federal,8,Mercedes Benz Sprinter,NaN
38,Mercedes Benz,Clase GLK,2012,3.0 Glk300 4matic Sport 231cv At,98000,60897.2000,1943.9730,719990,5.0,SUV,Capital Federal,11,Mercedes Benz Clase GLK,NaN
48,Mercedes Benz,Clase GLK,2013,3.5 Glk300 4matic 247cv At,93000,57790.2000,2106.0000,780000,5.0,SUV,Santa Fe,10,Mercedes Benz Clase GLK,NaN
56,Mercedes Benz,Clase C,2011,1.8 C200 Avantgarde B.efficiency At,62847,39053.1258,1349.9973,499999,4.0,Sedán,Bs.as. G.b.a. Oeste,12,Mercedes Benz Clase C,NaN
81,Mercedes Benz,Vito,2016,1.6 111 Cdi Furgon Mixto Aa 114cv,58000,36041.2000,1998.0000,740000,2.0,Furgón,Bs.as. G.b.a. Sur,7,Mercedes Benz Vito,NaN

In [28]:
# The "invented" models from avg_model_prices don't exist in the cars dataset, so
# they also don't exist in the result
left_join.loc[left_join.loc[:, 'Model'] == 'Cheap', :]

Empty DataFrame
Columns: [Make, Model, Year, Variant, Kms, Miles, price_euros, Price, Doors, Kind, Location, YTD, Model_new, avg_price]
Index: []